<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://use.fontawesome.com/d3203824a1.js"></script>
    <link rel="stylesheet" href="style/main.css">
    <script type="text/javascript" src="js/habits.js"></script>
    <meta charset="utf-8">
    <title>ArQuitica</title>
  </head>
  <body ng-app = "habits">
    <div class="home-top-bar" ng-controller = "TopBarController">
      <div class="home-top-title">
        <h2>{{title}}</h2>
      </div>
      <div class="home-topBar-menu">
        <div class="home-topbar-item" ng-repeat="option in menuOptions">
            <p>{{option.title}}</p>
        </div>
      </div>
    </div>
    <div class="home-pinboard" ng-controller = "PinboardController">
      <div class="home-pinboardWrapper">
        <div class="home-userImage">

        </div>
      </div>
      <div class="home-pinboardWrapper stats">
          <h4>{{user.name}}</h4>
          <p class="smallText">{{user.level}}<p>
            <p class="smallText">Account: {{user.email}}<p>
          <br>
          <h5>HP: {{user.currentHP}}/{{user.maxHP}}</h5>
          <h5>XP: {{user.currentXP}}/{{user.maxXP}}</h5>
      </div>
    </div>
    <div class="home-mainWrapper">
      <div class="home-segmentWrapper">
        <div class="home-listView" ng-controller = "TaskController">
          <hgroup class="listTitle">
          <h3>Tasks</h3>
          </hgroup>
          <div class="theList">
            <div class="listItem" ng-repeat="task in taskList">
              <div class="listItem-done">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
              <div class="listItem-description">
                <p class="smallText">{{task.name}}</p>
              </div>
              <div class="listItem-fail">
                  <i class="fa fa-minus" aria-hidden="true"></i>
              </div>

            </div>
          </div>


        </div>
        <div class="home-listView" ng-controller = "HabitController">
          <hgroup class="listTitle">
          <h3>Habits</h3>
          </hgroup>
          <div class="theList">
            <div class="listItem" ng-repeat="habit in habitList">
              <div class="listItem-done variant">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
              <div class="listItem-description">
                <p class="smallText">{{habit.name}}</p>
              </div>
              <div class="listItem-fail">
                  <i class="fa fa-minus" aria-hidden="true"></i>
           </div>

            </div>
          </div>


        </div>


      </div>
    </div>
    <footer></footer>
  </body>
</html>
