<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script type="text/javascript" src="../resources/config.json"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <title>My Habits | Login</title>
  </head>
  <body ng-app ="login" ng-controller = "logForm">
    <div class="login-wrapper">

      <div class="login-isleBackground"></div>
      <div class="login-isle">

            <h1 class="white">MY HABITS</h1>
            <form>
              <input id="emailTextField" type="text" ng-model="email" placeholder="E-Mail">
              <input id="passwordTextField" type="password" ng-model="password" placeholder="Password">
              <button class="login-btnLog"type="button" onclick="logIn()">Log In</button>
            </form>
            <p class="white">New User? <b class="login-register" ng-click="register()">Register!</b></p>
      </div>
    </div>




  </body>
</html>
